<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message.to_s %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.manager? %>
    <%= f.hidden_field :manager_id, value: current_user.manager.id %>
  <% elsif current_user.editor? %>
    <%= f.hidden_field :manager_id, value: current_user.manager.id %>
    <%= f.hidden_field :editor_id, value: current_user.editor.id %>
  <% end %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <br/>

  <div class="form-group">
    <%= f.label :active %><br>
    <%= f.check_box :active, class: "form-control" %>
  </div>

  <br/>

  <fieldset>
    <legend>Permissões</legend>
    
    <%- Permission.where(profile_id: current_user.profile.id, permit: true).group_by(&:role).each do |role_name, actions| %>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4><%=t role_name %></h4>
        </div>
      </div>

      <% actions.each do |action| %>
        <div class="row form-group">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <%= f.check_box :action, value: action.id, checked: false %>
        <%= f.label :action, value: action.action %>
            </div>            
        </div>
      <% end %>
      <hr/>
    <% end %>

  </fieldset>

  <div class="actions">
    <%= button_tag(type: 'submit', class:"btn btn-sm btn-success", data: { disable_with: "Aguardando..." }) do %>
      <i class="fa fa-save"></i>
      <strong>Salvar</strong>
    <% end %>

    <%= link_to(@profile, class: "btn btn-sm btn-primary") do %>
      <i class="fa fa-eye"></i>
      <span>Mostrar</span>
    <% end if policy(@profile).show? %>

    <%= link_to(profiles_path, class: "btn btn-sm btn-default") do %>
      <i class="fa fa-exchange"></i>
      <span>Voltar</span>
    <% end if policy(@profile).index? %>
  </div>
<% end %>
