<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message.to_s %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.manager? %>
    <%= f.hidden_field :manager_id, value: current_user.manager.id %>
  <% elsif current_user.editor? %>
    <%= f.hidden_field :manager_id, value: current_user.manager.id %>
    <%= f.hidden_field :editor_id, value: current_user.editor.id %>
  <% end %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <br/>

  <div class="form-group">
    <%= f.label :active %><br>
    <%= f.check_box :active, class: "form-control" %>
  </div>

  <br/>

  <fieldset>
    <legend>Permissões</legend>
    <% Role.to_a.in_groups_of(2, false) do |group| %>
      <div class="row">
        <%- group.each do |role, label| %>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%- f.object.permissions.to_a.group_by(&:role).each do |role_name, permissions| %>
              <% next if "#{role}" != "#{role_name}" -%>
              <%= render 'permission', f: f, permissions: permissions, role: Role.role(role) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= button_tag(type: 'submit', class:"btn btn-sm btn-success", data: { disable_with: "Aguardando..." }) do %>
      <i class="fa fa-save"></i>
      <strong>Salvar</strong>
    <% end %>

    <%= link_to(@profile, class: "btn btn-sm btn-primary") do %>
      <i class="fa fa-eye"></i>
      <span>Mostrar</span>
    <% end if policy(@profile).show? %>

    <%= link_to(profiles_path, class: "btn btn-sm btn-default") do %>
      <i class="fa fa-exchange"></i>
      <span>Voltar</span>
    <% end if policy(@profile).index? %>
  </div>
<% end %>
