<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @profile.manager.description %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @profile.editor.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @profile.active %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
