<% if current_user.admin? %>
  <%= f.hidden_field :father_id, value: current_user.id %>
  <%= f.collection_select :manager_id, Manager.all, :id, :description, prompt: "Select a manager" %>
  <br /><br />
  Profile
  <%= f.collection_radio_buttons :profile_id, Profile.all, :id, :description %>
  <hr />

<% elsif current_user.manager? %>
  <%= f.hidden_field :father_id, value: current_user.id %>
  <%= f.hidden_field :manager_id, value: current_user.manager.id %>
  <%= f.hidden_field :profile_id, value: current_user.profile.id %>
  <%= current_user.manager.description %>
  <br />
  <%= f.collection_select :editor_id, Editor.all, :id, :description, prompt: "Select a editor" %>
  <br />
  Profile
  <br />
  <%= f.collection_radio_buttons :profile_id, Profile.where(manager_id: current_user.manager_id), :id, :description %>
  <br />
<% else %>
  Nothing
<% end %>

<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %><br>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %>
</div>
<div class="actions">
  <%= f.submit %>
</div>