<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin?</th>
      <th>Manager?</th>
      <th>Editor?</th>
      <th>Active</th>
      <th>Profile</th>
      <th>Father</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><center><%= user.admin.present? ? "Yes" : "No" %></center></td>
        <td><center><%= user.manager_id.present? ? "Yes" : "No" %></center></td>
        <td><center><%= user.editor_id.present? ? "Yes" : "No" %></center></td>
        <td><center><%= user.active.present? ? "Yes" : "No" %></center></td>
        <td><center><%= user.profile_id.present? ? user.profile.description : "---" %></center></td>
        <td><center><%= user.father_id.present? ? user.father.email : "---" %></center></td>
        <td><%= link_to 'Show', control_user_path(user) %></td>
        <td><%= link_to 'Destroy', control_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_control_user_path %>